* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #ccc;  
}

.container {
    margin: auto;
    max-width: 1024px;
    padding: 8px;
}

/* Start:  Menu */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: royalblue;
    padding: 16px;
    color: white;
}

header > h1 {
    font-style: italic;
}

nav > ul > li {
    display: inline;
    text-decoration: none;
    margin-left: 16px;  
    color: white;
    
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
}

/* End: Menu */

/* Start: Sobre a Loja */

#about {
    display: grid;
    grid-template-columns: 50% 50%;
}

#about img {
    max-width: 100%;
    padding-right: 16px;
}

#about p {
    margin-bottom: 16px;
    font-size: 16px;
}

/* End: Sobre a Loja */

.titulo {
    color: royalblue;
    border-bottom: 4px solid royalblue;
    width: 100%;
    font-size: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

/* Start: Produtos */

.conteudo {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
    row-gap: 5%;
}

.produto {
    max-width: 100%;
}

.produto img {
    width: 100%;
    height: 70%;
    margin-bottom: 3px;
}

.produto h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.produto p {
    font-size: 14px;
    margin-bottom: 10px;
}

.produto button {
    border-radius: 12px;
    padding: 10px 28px;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

/* End: Produtos */